body {
  /* width: 80%; */

  margin: auto;
}

/* Áp dụng animation vào phần tử */
/* div {
    width: 100px;
    height: 100px;
    background-color: purple;
    animation-name: example;
    animation-duration: 4s;
  } */

.flappBird {
  margin-top: 1px !important;
  margin: auto;
  width: 900px;
  box-shadow: rgb(0 0 0 / 11%) 0px 6px 12px 0px;
  padding-bottom: 30px;
}
.btnStart {
  background-image: url("../images/nen3.jpg");
  height: 500px;
  width: 900px;
  background-position: center;
  background-size: cover;
  /* padding-top: 47%; */
  text-align: center;
}
.btnNext {
  background-image: url("../images/nen4.png");
  height: 500px;
  width: 900px;
  background-position: center;
  background-size: cover;
}
/* Code animation */
@keyframes example {
  from {
    background-color: #c76126;
  }
  to {
    background-color: green;
  }
}
.btnGame {
  width: 85px;
  margin: 0 20px;
  color: white;
  background-color: #c76126;
  padding: 5px 12px;
  transition: 0.5s;

  /* animation-name: example;
    animation-duration: 2s; */
}
#btnClick:hover {
  background-color: green;
  cursor: pointer;

  transform: translateY(-5px);
}
#btnScore:hover {
  background-color: green;
  cursor: pointer;
  animation: 0, 5s;

  transform: translateY(-5px);
}
#btnScoree:hover {
  background-color: green;
  cursor: pointer;
  animation: 0, 5s;

  transform: translateY(-5px);
}
#btnGame_Again:hover {
  background-color: green;
  cursor: pointer;
  animation: 0, 5s;

  transform: translateY(-5px);
}

.score {
  border: 2px solid #523747;
  width: 300px;
  height: 140px;
  background-color: white;
  animation-delay: 5s;
}
.GameOver {
  /* background-image: url("../images/GameOver.gif"); */
  height: 500px;
  background-image: url("../images/nen3.jpg");

  width: 900px;
  background-position: bottom;
  background-size: cover;
  position: absolute;
}
/* border-bottom: 2px solid #efebeb; */
.GameOver_bg {
  width: 30%;
  margin: auto;
  padding-top: 22%;
}
.GameOver_Score {
  float: right;
  padding-top: 25px;
  padding-right: 25px;
}
.info_img {
  box-shadow: rgb(0 0 0 / 24%) 0px 4px 8px 0px;
  width: 50px !important;
  margin-top: 20px;
  border-radius: 12px;
}
.info_title {
  color: #002b50;
  font-size: 30px;
  font-weight: 900;
}
.info_text {
  font-size: 14px;
  color: #7e91ab;
  font-weight: 400;
}
input {
  width: 79%;
  border: none;
  border-bottom: 1px solid #c8c9ca;
  height: 45px;
}
.form_user i {
  margin-left: 60%;
  margin-top: 17px;
  background-color: #1a82db;
  padding: 17px;
  border-radius: 50%;
  color: white;
}
.form_comment {
  display: flex;
  margin: 25px 20px;
}
h1 {
  font-size: 20px !important;
  color: #002b50;
  font-weight: 600 !important;
  /* margin-left: 97px; */
  margin: 50px 0 25px 100px !important;
}
input:focus-visible {
  outline: none;
}
hr {
  height: 1px;
  width: 845px;
  margin: auto !important;
}

.hienThiCmt {
  width: 64%;
  margin: auto;
}
.Cmt_user {
  display: flex;

  margin-bottom: 25px;
}
.Cmt_edo h2 {
  color: #002b50;
  font-size: 25px;
  font-family: monospace;
}
.Cmt_edo p {
  color: #373e61;
  font-size: 17px;
}

.Cmt_user #form_edo i {
  background: #1a82db;
}

.Cmt_user .form_user {
  margin-right: 20px;
}

.Cmt_user .form_user i {
  background: #0e8502;
}
.Ctm_text h2 {
  color: #002b50;
  font-size: 25px;
}
.Ctm_text p {
  font-size: 17px;

  color: #373e61;
}
.Ctm_text h6 p {
  font-size: 14px;
}
footer {
  background: white;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 50px 0;
}

footer #id_body {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}

footer input:hover {
  color: white;
  background: black;
  transition: all 0.5s;
}

footer #id_body:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}
