{% extends "pages/index.html" %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block content %}
<div class="home">
       <div class="row">
        <h1>ベトナムの絶景を見に行こう！</h1>
            <img src="{% static './images/ha.jpg' %}"alt="" style="width:100%;" >
            <p>料理やフランス統治時代の影響を残す街並み、雑貨やカフェにも引かれるベトナムですが、今回は他では見ることのできない大自然の絶景を、定番から秘境に至るまでご紹介します。</p>
            <h1>定番だけど外せない！龍の伝説ハロン湾</h1>
            <img src="{% static './images/hb.jpg' %}"alt="" style="width:100%;" >
            <p>言わずとしれたベトナムの名所であり世界自然遺産のハロン湾。人気の観光地ですので、数多く用意されているツアーにはクルーズやカヤック体験、洞窟マーケット見学、さらにライトアップされた鍾乳洞を巡るコースもあり、いろんな角度から美しい景色を堪能することができます。</p>
            <h1>ベトナムと中国の国境近くにある神秘の滝！バンゾック滝</h1>
            <img src="{% static './images/hc.jpg' %}"alt="" style="width:100%;" >
            <p>全長300m高さ50mというベトナム最大級の滝です。中国との国境がある山間部に位置し、到達するのに時間を要する秘境ですが、旅の疲れも忘れるほど壮大なスケールの自然が待っています。雨量の増す夏は特に見応えがあり、滝に虹がかかることもあります。夕焼けも神秘的で、自然の壮大さに感動する人が後を絶ちません。</p>

 
    </div>
</div>



{% endblock %}